{
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true,
    },
    "extends": [ "airbnb", "plugin:react/recommended", "prettier", "prettier/babel", "prettier/react" ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "html",
        "react",
        "prettier",
        "babel"
    ],
    "rules": {
        "import/no-extraneous-dependencies" : ["error", {"devDependencies": true}],
        // temporary fix until I figure out how to make eslint import/no-unresolved errors disappear
        "import/no-unresolved": "off",
        "react/state-in-constructor": [2, "never"],
        "react/static-property-placement": "off",
        "react/display-name": "off",
        "react/jsx-filename-extension": "off",
        "react/prefer-stateless-function": "off",
        "react/no-did-update-set-state": "off"
    }
}
